 /*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {





 }

 /*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
.navbar-brand {
	display: block;
	} 

.carousel-item>img{
	height: 240px;
	width:850px;
}

p{
	text-align: center;
}
h2,h3,h4 {
	text-align: center;
}

.card-title{

	text-align: center;
}



}



 /*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 

.item-slider-4 ,.item-slider-3 ,.item-slider-2,.img-scr2 {
	display: none;
}
iframe{
	width: 30em;
}



.carousel-item>img{
	height: 340px;
	width:850px;
}



 }


 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

}



