@import url('https://fonts.googleapis.com/css?family=Arsenal|Bad+Script');

.header-block{
	text-align: center;
	color: #efefef;
	margin: 30px;
	
}

}
.header-block>h1{
	font-family: 'Arsenal', sans-serif;
	font-size:4em;
}

.about-string{
	text-align: center;
	border: 1px black solid;
	padding-top: 10px;
	padding-bottom: 10px;

}



.header-block>h2{
font-family: 'Bad Script', cursive;
}
body{
	background: url(../img/slider/bg.jpg) no-repeat;
}

#screen-1, #screen-2, #screen-3, #screen-4,#screen-5,#screen-6,#screen-7{
	padding-top: 40px;
	padding-bottom: 40px;

}

#screen-1{

}
#screen-2{
	background: #eaf2ff;
}
#screen-3{
	background-image: ;
	background:url(../img/Map1.png) no-repeat;
	background-size:cover;

}
#screen-3>.card{
	margin: 12px;
}
#screen-3>.container>h3{

    margin-bottom: 30px;

}

#screen-4{



}
#screen-5{
		background: url(../img/texture4.png);
}

#screen-5>.container>h3{

    margin-bottom: 40px;

}

#screen-6>.container>h3{

    margin-bottom: 40px;

}



.card-body-text>p{
	padding: 20px;

	
}

.navbar{
	background: rgba(255,245,215,0.85);
}

}
.main-content{
	padding-top:50px;
}

.item-slider{
	margin-top:20px;
}

.carousel-item>img{
	height: 340px;
	width:850px;
}
.about-string{
	margin-top: 20px;
	margin-bottom: : 20px;
}
/*


.main-nav nav{
	flex-basis: 100%;
}
.navbar-brand{
	display: none;
}
.navbar-toggler{
	border: 1px solid #000;
	border-radius: 4px;
	position: relative;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1em;
    height: 1.2em;
}*/
.navbar-nav{
	flex-basis:100%;
	display: flex;
	align-items: center;
}
.nav-item{
	/*flex-basis: calc(100% / 4);*/
	display: flex;
	flex: 1 ;
	justify-content: center;

};
